<!DOCTYPE html>
<html>
<head>
  <title>Vche</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_path(current_user.id), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", :logout, method: :post, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register", new_user_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", :login, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <% if current_user %>
      <span class="navbar-text">
        <%= current_user.email %>
      </span>
    <% end %>
  </nav>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
</header>
<%= yield %>
</body>
</html>
